.list-wrapper {
  padding: 15px 25px;
  border-radius: 8px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  position: relative;
}

.list-wrapper::before{
  content: '';
  position: absolute;
  display: block;
  width: 5px;
  border-radius: 8px;
  height: 60px;
  left: 3%;
  top: 15%;
  background: #1EBCBF;
}

/* .blue{
 background-color: #2F67DD;
} 

.orange{
background-color: #E65C31;
}

.ocean{
background-color: #1EBCBF;
} */

.list-wrapper:last-child{
  margin-bottom: 0px;
}

.list-wrapper:hover{
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.name{
  font-size: 20px;
  font-weight: 700;
}

.code{
  opacity: 0.7;
  font-size: 14px;
}
