.modal-content {
  width: 280px;
  min-height: 300px;
}

.modal-figure {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.bold{
  font-weight: 700;
}

.details{
  margin-top: 15px;
  line-height: 1.7;
}
