body {
  -webkit-font-smoothing: antialiased !important;
  text-rendering: optimizeLegibility;
  font-family: "Inter", sans-serif !important;
  background: #e9eef9;;
  scroll-behavior: smooth;
}

html {
  color: #333;
  font-size: 16px;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased !important;
}

* {
  box-sizing: border-box;
}

p,h3 {
  margin: 0;
  font-family: "Inter", sans-serif;
}

li {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

figure{
  margin: 0;
}

img {
  width: 100%;
}